.PromotionDetail {
    transition: height 5s ease-in-out;
    /*outline: 2px dashed blue;*/
    display:flex;
    flex-wrap: wrap;
}

.PromotionDetail.Hidden {
    overflow: hidden;
    height: 0px;
}

.PromotionDetail.Visible {
    max-height: 500px;
}

.Section {
    /*border: 1px rgb(206, 205, 205) solid;*/
    padding: 8px 8px 20px 8px;
    margin-left: 20px;
    /* width: 48%; */
}

.Label {
    text-align: right;
    padding: 2px 5px 2px 5px; 
    font-weight: bold;
    font-size: 1.2em;
    vertical-align: top;
    background-color: rgb(243, 243, 243);
    width: 400px;

}

.Value {
    text-align: left;
    padding: 2px 5px 2px 5px; 
    color: rgb(94, 94, 94);
    /*font-family: 'PT Serif', serif;*/
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    vertical-align: top;

}

.Content {
    border-top: 1px rgb(206, 205, 205) solid;
    padding-top: 5px;

}

.Heading {
    margin: 4px 4px 4px 0px;
    
}

.TableData td {
    border-collapse: collapse; 
    border: 1px solid gray;
    padding: 5px 10px 5px 10px;
}
.TableData tr {
    border-collapse: collapse; 
    border: 1px solid gray;
    padding: 5px 10px 5px 10px;

}
.TableData th {
    border-collapse: collapse; 
    border: 1px solid gray;
    padding: 5px 10px 5px 10px;

}



