.Main {
  margin-left: 200px;
  overflow: hidden;
  width: calc(100%-200px);
  min-height:50em;

}
.Body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}