.MenuItemLevel1{
    background-color: rgb(226, 225, 225);
    color: #000;
    line-height: 40px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.MenuItemLevel1:hover{
    background-color: black;
    color: white;
    font-weight:bold;
    fill: white;
}

.SubMenu{
    transition: all .5s ease-in-out;
    line-height: 25px;
}

.Expanded {
    max-height: 100px;
    overflow: hidden;
}

.Collapsed {
    max-height: 0px;
    overflow: hidden;
}

.RotateClockwise{
    animation: rotate-clockwise 0.5s;
    transform-origin: 50% 50%;
    transform:rotate(90deg);
    margin-right: 2px;
}


@keyframes rotate-clockwise {
    from {transform:rotate(0deg);}
    to {transform:rotate(90deg);}
}

.RotateAntiClockwise{
    animation: rotate-anticlockwise 0.5s;
    transform-origin: 50% 50%;
    margin-right: 2px;
}


@keyframes rotate-anticlockwise {
    from {transform:rotate(90deg);}
    to {transform:rotate(0deg);}
}