.ApplicationConsole {
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 1px 10px 1px 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.90em;
    display: flex;
    background-color: rgb(240, 240, 240);
    flex-direction: column;
    max-height: 190px;
    transition: max-height 0.5s linear;
}

.Collapsed {
    max-height: 20px;
}

.Message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.Normal {
    color: blue;
    font-color: blue;
}

.Warning {
    color: rgb(255, 102, 0);
    font-color: rgb(255, 102, 0);
}

.Error {
    color: red;
    font-color: red;
}

.Image {
    margin-right: 10px;

}

.Rotate{
    animation: rotate-clockwise 0.5s;
    transform-origin: 50% 50%;
    transform:rotate(90deg);
    margin-right: 10px;
    font-size: 1.2em;
}

@keyframes rotate-clockwise {
    from {transform:rotate(0deg);}
    to {transform:rotate(90deg);}
}

.RotateAnti{
    animation: rotate-anticlockwise 0.5s;
    transform-origin: 50% 50%;
    margin-right: 10px;
    font-size: 1.2em;
}

@keyframes rotate-anticlockwise {
    from {transform:rotate(90deg);}
    to {transform:rotate(0deg);}
}
